:root {
    --white: #FFFFFF;
    --black: #000000;
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D4;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;    
    /* font-family: 'Inter', sans-serif; */
}

a {
    text-decoration: none;
    color: var(--warm-black);
    cursor: pointer;
}

ul {
    list-style: none;
}

